root = true

[*]
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.{groovy,java,kt,xml}]
indent_style = tab
indent_size = 4

ij_smart_tabs = false
ij_java_align_multiline_parameters = false